{% extends "layout.html" %}

{% block title %}
    Duck Disappearance - Complete!
{% endblock %}

{% block main %}
<!-- Print output text -->
<h4>Duck Disappearance!</h4>
<p>
    After the CS 50 <u>{{ inputs[0] }}</u> ended, Professor <u>{{ inputs[1] }}</u> saw that DDB was gone! Everyone started looking for DDB under 
    <u>{{ inputs[2] }}</u> and in <u>{{ inputs[3] }}</u>, but could not find DDB! Then, CS 50 received a ransom <u>{{ inputs[4] }}</u> just <u>{{ inputs[5] }}</u> 
    minutes later that promised the safe return of DDB. In the days to come, <u>{{ inputs[6] }}</u> were sent showing DDB’s journey. First, 
    DDB visited the campus of <u>{{ inputs[7] }}</u> in <u>{{ inputs[8] }}</u> and <u>{{ inputs[9] }}</u> in <u>{{ inputs[10] }}</u>. After all, DDB 
    <u>{{ inputs[11] }}</u> had wanted to visit! DDB even traveled abroad, visiting the <u>{{ inputs[12] }}</u> in <u>{{ inputs[13] }}</u>, 
    <u>{{ inputs[14] }}</u>. Then, DDB returned to campus to make the <u>{{ inputs[15] }}</u> CS 50 fair. <u>{{ inputs[16] }}</u>!
</p>
<br>

<!-- Container for an image -->
<div id="image_container">
    <img src="https://hacks.mit.edu/Hacks/by_year/2022/cs50_duck/cs50_duck_img2.jpg" class="img-fluid" alt="Duck Visits MIT" style="width: 700px;">
</div>

<!-- Image description -->
<p>Image description: DDB visiting MIT Prof. John Guttag and his class.</p>

<!-- Photo credits -->
<p>Photo credits: Anonymous</p>
<br>
{% endblock %}