{% extends "layout.html" %}

{% block title %}
    Duck Disappearance - Complete!
{% endblock %}

{% block main %}
<!-- Print output text -->
<h4>Duck Disappearance!</h4>
<p>
    After the CS 50 {{ inputs[0] }} ended, Professor {{ inputs[1] }} saw that DDB was gone! Everyone started looking for DDB under 
    {{ inputs[2] }} and in {{ inputs[3] }}, but could not find DDB! Then, CS 50 received a ransom {{ inputs[4] }} just {{ inputs[5] }} 
    minutes later that promised the safe return of DDB. In the days to come, {{ inputs[6] }} were sent showing DDB’s journey. First, 
    DDB visited the campus of {{ inputs[7] }} in {{ inputs[8] }} and {{ inputs[9] }} in {{ inputs[10] }}. After all, DDB 
    {{ inputs[11] }} had wanted to visit! DDB even traveled abroad, visiting the {{ inputs[12] }} in {{ inputs[13] }}, 
    {{ inputs[14] }}. Then, DDB returned to campus to make the {{ inputs[15] }} CS 50 fair. {{ inputs[16] }}!
</p>
    
{% endblock %}