{% extends "layout.html" %}

{% block title %}
    Duck Disappearance - Complete!
{% endblock %}

{% block main %}
<!-- Print output text -->
<h4>Duck Disappearance!</h4>
<p>
    After the CS 50 <u>{{ inputs[0] }}</u>, Professor <u>{{ inputs[1] }}</u> noticed DDB was missing! Everyone searched but couldn’t find DDB. 
    Later, CS 50 got a ransom <u>{{ inputs[2] }}</u> from MIT, ensuring DDB’s return. Feeling relieved, the Professor waited for DDB to come 
    back, as DDB is part of the CS 50 <u>{{ inputs[3] }}</u>! In the coming days, messages were sent about DDB’s <u>{{ inputs[4] }}</u>. While 
    missing, DDB explored <u>{{ inputs[5] }}</u> in <u>{{ inputs[6] }}</u> and <u>{{ inputs[7] }}</u> in <u>{{ inputs[8] }}</u>. After all, DDB <u>{{ inputs[9] }}</u> had 
    wanted to visit! DDB even traveled internationally, visiting <u>{{ inputs[10] }}</u> in <u>{{ inputs[11] }}</u>, <u>{{ inputs[12] }}</u>. Finishing up 
    a(n) <u>{{ inputs[13] }}</u> journey, DDB returned for the CS 50 fair. <u>{{ inputs[14] }}</u>!
</p>
<br>

<!-- Container for an image -->
<div id="image_container">
    <img src="https://hacks.mit.edu/Hacks/by_year/2022/cs50_duck/cs50_duck_img2.jpg" class="img-fluid" alt="Duck Visits MIT" style="width: 700px;">
</div>

<!-- Image description -->
<p>Image description: DDB visiting MIT Prof. John Guttag and his class.</p>

<!-- Photo credits -->
<p>Photo credits: Anonymous</p>
<br>
{% endblock %}