{% extends "layout.html" %}

{% block title %}
    Duck Disappearance - Complete!
{% endblock %}

{% block main %}
<!-- Print output text -->
<h4>Duck Disappearance!</h4>
<p>
    Upon wrapping up the annual all-night CS 50 hackathon on Harvard’s campus, Professor <u>{{ inputs[0] }}</u> noticed that DDB was missing! 
    Everyone started looking for DDB under <u>{{ inputs[1] }}</u> and in <u>{{ inputs[2] }}</u>, but couldn’t find DDB anywhere! Then, CS 50 received 
    a ransom <u>{{ inputs[3] }}</u> just <u>{{ inputs[4] }}</u> minutes later from sister school MIT ensuring DDB’s safe return after sharing some 
    <u>{{ inputs[5] }}</u> with them. Feeling more <u>{{ inputs[6] }}</u>, the Professor awaited the swift return of DDB. After all, DDB 
    is part of the CS 50 <u>{{ inputs[7] }}</u>! In the days to come, a series of <u>{{ inputs[8] }}</u> were sent documenting DDB’s incredulous 
    journey. First, DDB visited the esteemed campus of <u>{{ inputs[9] }}</u> in <u>{{ inputs[10] }}</u> and <u>{{ inputs[11] }}</u> in <u>{{ inputs[12] }}</u>. 
    After all, DDB <u>{{ inputs[13] }}</u> had wanted to visit! DDB even traveled abroad, visiting the incredibly historic <u>{{ inputs[14] }}</u> 
    in <u>{{ inputs[15] }}</u>, <u>{{ inputs[16] }}</u>. Finishing up a(n) <u>{{ inputs[17] }}</u> journey with friends from <u>{{ inputs[18] }}</u>, DDB returned 
    to campus just in time to make the <u>{{ inputs[19] }}</u> CS 50 fair. <u>{{ inputs[20] }}</u>!

</p>
<br>

<!-- Container for an image -->
<div id="image_container">
    <img src="https://hacks.mit.edu/Hacks/by_year/2022/cs50_duck/cs50_duck_img2.jpg" class="img-fluid" alt="Duck Visits MIT" style="width: 700px;">
</div>

<!-- Image description -->
<p>Image description: DDB visiting MIT Prof. John Guttag and his class.</p>

<!-- Photo credits -->
<p>Photo credits: Anonymous</p>
<br>
{% endblock %}