{% extends "layout.html" %}

{% block title %}
    Duck Disappearance - Complete!
{% endblock %}

{% block main %}
<!-- Print output text -->
<h4>Duck Disappearance!</h4>
<p>
    Upon the culmination of the annual all-night CS 50 hackathon on Harvard’s {{ inputs[0] }}, Professor {{ inputs[1] }} noticed a 
    conspicuous absence, DDB was missing! The collective concern propelled everyone into a search, scanning under {{ inputs[2] }} and 
    scouring the {{ inputs[3] }} hallways, but DDB seemed to have vanished without a trace.
</p>
<p>
    A twist in the tale materialized when CS 50 received an unexpected ransom {{ inputs[4] }} nearly {{ inputs[5] }} minutes later, 
    originating from the esteemed academic bastion, {{ inputs[6] }}. This missive, however, carried an intriguing twist; it wasn’t a 
    menacing {{ inputs[7] }} but a guarantee of DDB’s secure return, hinting at an adventurous sojourn at {{ inputs[8] }}.
</p>
<p>
    With a mix of {{ inputs[9] }} and anticipation, the Professor, an integral figure in the {{ inputs[10] }} echelons, awaited the 
    swift return of DDB. The sentiment was not merely professional duty but a familial {{ inputs[11] }}, considering DDB as an integral 
    part of the CS 50 {{ inputs[12] }}. The bond between faculty and student took on a {{ inputs[13] }} dimension.
</p>
<p>
    In the subsequent days, a series of meticulously crafted {{ inputs[14] }} unfolded, presenting a captivating chronicle of DDB’s 
    incredulous journey. DDB's exploration commenced with visits to the hallowed campuses of {{ inputs[15] }} in {{ inputs[16] }} 
    and {{ inputs[17] }} in {{ inputs[18] }}. After all, DDB {{ inputs[19] }} had wanted to visit! The academic pilgrimage expanded 
    beyond national {{ inputs[20] }}, encompassing an international interlude at the historic {{ inputs[21] }} in {{ inputs[22] }}, 
    {{ inputs[23] }}.
</p>
<p>
    As the narrative unfolded, it became apparent that DDB harbored a long-standing desire to experience these academic 
    {{ inputs[24] }}. The journey wasn’t merely {{ inputs[25] }} but an intellectual and {{ inputs[26] }} odyssey, revealing DDB's 
    insatiable {{ inputs[27] }} and thirst for knowledge.
</p>
<p>
    The culmination of this remarkable {{ inputs[28] }} saw DDB returning to campus, bringing back not only memories but also friends 
    from {{ inputs[29] }}. The timing was impeccable, aligning with the much-anticipated CS 50 {{ inputs[30] }}. The return became a 
    cause for collective celebration and {{ inputs[31]}} on the intertwining threads of academia, exploration, and the enduring bonds 
    forged within the academic community. {{ inputs[32] }}! 

</p>
    
{% endblock %}