{% extends "layout.html" %}

{% block title %}
    Duck Disappearance - Complete!
{% endblock %}

{% block main %}
<!-- Print output text -->
<h4>Duck Disappearance!</h4>
<p>
    Upon the culmination of the annual all-night CS 50 hackathon on Harvard’s <u>{{ inputs[0] }}</u>, Professor <u>{{ inputs[1] }}</u> noticed a 
    conspicuous absence, DDB was missing! The collective concern propelled everyone into a search, scanning under <u>{{ inputs[2] }}</u> and 
    scouring the <u>{{ inputs[3] }}</u> hallways, but DDB seemed to have vanished without a trace.
</p>
<p>
    A twist in the tale materialized when CS 50 received an unexpected ransom <u>{{ inputs[4] }}</u> nearly <u>{{ inputs[5] }}</u> minutes later, 
    originating from the esteemed academic bastion, <u>{{ inputs[6] }}</u>. This missive, however, carried an intriguing twist; it wasn’t a 
    menacing <u>{{ inputs[7] }}</u> but a guarantee of DDB’s secure return, hinting at an adventurous sojourn at <u>{{ inputs[8] }}</u>.
</p>
<p>
    With a mix of <u>{{ inputs[9] }}</u> and anticipation, the Professor, an integral figure in the <u>{{ inputs[10] }}</u> echelons, awaited the 
    swift return of DDB. The sentiment was not merely professional duty but a familial <u>{{ inputs[11] }}</u>, considering DDB as an integral 
    part of the CS 50 <u>{{ inputs[12] }}</u>. The bond between faculty and student took on a <u>{{ inputs[13] }}</u> dimension.
</p>
<p>
    In the subsequent days, a series of meticulously crafted <u>{{ inputs[14] }}</u> unfolded, presenting a captivating chronicle of DDB’s 
    incredulous journey. DDB's exploration commenced with visits to the hallowed campuses of <u>{{ inputs[15] }}</u> in <u>{{ inputs[16] }}</u> 
    and <u>{{ inputs[17] }}</u> in <u>{{ inputs[18] }}</u>. After all, DDB <u>{{ inputs[19] }}</u> had wanted to visit! The academic pilgrimage expanded 
    beyond national <u>{{ inputs[20] }}</u>, encompassing an international interlude at the historic <u>{{ inputs[21] }}</u> in <u>{{ inputs[22] }}</u>, 
    <u>{{ inputs[23] }}</u>.
</p>
<p>
    As the narrative unfolded, it became apparent that DDB harbored a long-standing desire to experience these academic 
    <u>{{ inputs[24] }}</u>. The journey wasn’t merely <u>{{ inputs[25] }}</u> but an intellectual and <u>{{ inputs[26] }}</u> odyssey, revealing DDB's 
    insatiable <u>{{ inputs[27] }}</u> and thirst for knowledge.
</p>
<p>
    The culmination of this remarkable <u>{{ inputs[28] }}</u> saw DDB returning to campus, bringing back not only memories but also friends 
    from <u>{{ inputs[29] }}</u>. The timing was impeccable, aligning with the much-anticipated CS 50 <u>{{ inputs[30] }}</u>. The return became a 
    cause for collective celebration and <u>{{ inputs[31]}}</u> on the intertwining threads of academia, exploration, and the enduring bonds 
    forged within the academic community. <u>{{ inputs[32] }}</u>! 

</p>
<br>

<!-- Container for an image -->
<div id="image_container">
    <img src="https://hacks.mit.edu/Hacks/by_year/2022/cs50_duck/cs50_duck_img2.jpg" class="img-fluid" alt="Duck Visits MIT" style="width: 700px;">
</div>

<!-- Image description -->
<p>Image description: DDB visiting MIT Prof. John Guttag and his class.</p>

<!-- Photo credits -->
<p>Photo credits: Anonymous</p>
<br>
{% endblock %}