{% extends "layout.html" %}

{% block title %}
    Duck Disappearance - Complete!
{% endblock %}

{% block main %}
<!-- Print output text -->
<h4>Duck Disappearance!</h4>
<p>
    Upon wrapping up the annual all-night CS 50 hackathon on Harvard’s campus, Professor {{ inputs[0] }} noticed that DDB was missing! 
    Everyone started looking for DDB under {{ inputs[1] }} and in {{ inputs[2] }}, but couldn’t find DDB anywhere! Then, CS 50 received 
    a ransom {{ inputs[3] }} just {{ inputs[4] }} minutes later from sister school MIT ensuring DDB’s safe return after sharing some 
    {{ inputs[5] }} with them. Feeling more {{ inputs[6] }}, Professor {{ inputs[7] }} awaited the swift return of DDB. After all, DDB 
    is part of the CS 50 {{ inputs[8] }}! In the days to come, a series of {{ inputs[9] }} were sent documenting DDB’s incredulous 
    journey. First, DDB visited the esteemed campus of {{ inputs[10] }} in {{ inputs[11] }} and {{ inputs[12] }} in {{ inputs[13] }}. 
    After all, DDB {{ inputs[14] }} had wanted to visit! DDB even traveled abroad, visiting the incredibly historic {{ inputs[15] }} 
    in {{ inputs[16] }}, {{ inputs[17] }}. Finishing up a(n) {{ inputs[18] }} journey with friends from {{ inputs[19] }}, DDB returned 
    to campus just in time to make the {{ inputs[20] }} CS 50 fair. {{ inputs[21] }}!

</p>
    
{% endblock %}