{% extends "layout.html" %}

{% block title %}
    Duck Disappearance - Complete!
{% endblock %}

{% block main %}
<!-- Print output text -->
<h4>Duck Disappearance!</h4>
<p>
    After the CS 50 {{ inputs[0] }} ended, DDB went to the {{ inputs[1] }}. Then, Professor {{ inputs[2] }} received a ransom 
    {{ inputs[3] }}, but luckily, it assured them that DDB would come home {{ inputs[4] }}. Although DDB missed the fun activities, 
    the CS 50 mascot returned in time for the CS 50 {{ inputs[5] }}. Yay! Everyone was {{ inputs[6] }}.
</p>
    
{% endblock %}