{% extends "layout.html" %}

{% block title %}
    Duck Disappearance - Complete!
{% endblock %}

{% block main %}
<!-- Print output text -->
<h4>Duck Disappearance!</h4>
<p>
    After the CS 50 {{ inputs[0] }}, Professor {{ inputs[1] }} noticed DDB was missing! Everyone searched but couldn’t find DDB. 
    Later, CS 50 got a ransom {{ inputs[2] }} from MIT, ensuring DDB’s return. Feeling relieved, the Professor waited for DDB to come 
    back, as DDB is part of the CS 50 {{ inputs[3] }}! In the coming days, messages were sent about DDB’s {{ inputs[4] }}. While 
    missing, DDB explored {{ inputs[5] }} in {{ inputs[6] }} and {{ inputs[7] }} in {{ inputs[8] }}. After all, DDB {{ inputs[9] }} had 
    wanted to visit! DDB even traveled internationally, visiting {{ inputs[10] }} in {{ inputs[11] }}, {{ inputs[12] }}. Finishing up 
    a(n) {{ inputs[13] }} journey, DDB returned for the CS 50 fair. {{ inputs[14] }}!
</p>
    
{% endblock %}