{% extends "layout.html" %}

{% block title %}
    Duck Disappearance - Complete!
{% endblock %}

{% block main %}
<!-- Print output text -->
<h4>Duck Disappearance!</h4>
<p>
    After the CS 50 <u>{{ inputs[0] }}</u> ended, DDB went to the <u>{{ inputs[1] }}</u>. Then, Professor <u>{{ inputs[2] }}</u> received a ransom 
    <u>{{ inputs[3] }}</u>, but luckily, it assured them that DDB would come home <u>{{ inputs[4] }}</u>. Although DDB missed the fun activities, 
    the CS 50 mascot returned in time for the CS 50 <u>{{ inputs[5] }}</u>. Yay! Everyone was <u>{{ inputs[6] }}</u>.
</p>
<br>

<!-- Container for an image -->
<div id="image_container">
    <img src="https://hacks.mit.edu/Hacks/by_year/2022/cs50_duck/cs50_duck_img2.jpg" class="img-fluid" alt="Duck Visits MIT" style="width: 700px;">
</div>

<!-- Image description -->
<p>Image description: DDB visiting MIT Prof. John Guttag and his class.</p>

<!-- Photo credits -->
<p>Photo credits: Anonymous</p>
<br>
{% endblock %}