{% extends "layout.html" %}

{% block title %}
    Duck Goes to Disney - Complete!
{% endblock %}

{% block main %}
<!-- Print output text -->
<h4>Duck Goes to Disney!</h4>
<p>
    In the midst of instructing CS 50 at Harvard alongside the esteemed Professor {{ inputs[0] }}, DDB found herself grappling with a 
    touch of {{ inputs[1] }}. The last time she'd seen family was on the extensive {{ inputs[2] }} back to campus post-summer break. 
    On the ever-popular social media hub {{ inputs[3] }}, she stumbled upon the news that her cousins {{ inputs[4] }} and 
    {{ inputs[5] }} had secured positions as {{ inputs[6] }} at Disney World! This discovery ignited a dual desire within DDB to 
    reconnect with family and to immerse herself in the renowned Magic Kingdom ride, the {{ inputs[7] }}.
</p>
<p>
    Once at Disney World, the vast array of options, from {{ inputs[8] }} acrobatic shows to the wonders of "It's a {{ inputs[9] }} 
    World," left DDB feeling a bit {{ inputs[10] }}. However, her priority was tracking down her cousins. A {{ inputs[11] }}, 
    knowledgeable guide pointed her toward the Mickey Mouse {{ inputs[12] }}, where she joyfully reunited with her cousins, now going 
    by the playful names {{ inputs[13] }} Duck and {{ inputs[14] }} Duck.
</p>
<p>
    Inspired by their {{ inputs[15] }}, creative flair, DDB entertained the idea of adopting a unique moniker for herself in the 
    academic setting, perhaps something like "The {{ inputs[16] }} Tech Duck!" Yet, the notion of injecting too much whimsy into the 
    {{ inputs[17] }}, serious atmosphere of CS 50 gave her pause. Nevertheless, the day turned out to be a fantastic blend of 
    {{ inputs[18] }}, discovery, and family time, alleviating the {{ inputs[19] }} that had lingered.
</p>
<p>
    As the day unfolded, DDB experienced a mix of emotions, a sense of {{ inputs[20] }}, fulfillment from the day's escapades, and a 
    notable reduction in {{ inputs[21] }}. Returning to campus, she reflected on the enduring power of family connections and the 
    {{ inputs[22] }} derived from venturing beyond the {{ inputs[23] }} academic confines. The realization that blending personal and 
    professional realms can create a harmonious {{ inputs[24] }} of experiences lingered, underscoring the intricate interplay of 
    personal {{ inputs[25] }} and academic pursuits.
</p>
    
{% endblock %}