{% extends "layout.html" %}

{% block title %}
    Duck Goes to Disney - Complete!
{% endblock %}

{% block main %}
<!-- Print output text -->
<h4>Duck Goes to Disney!</h4>
<p>
    In the midst of teaching CS 50 at Harvard alongside the esteemed Professor {{ inputs[0] }}, DDB found herself grappling with a 
    touch of {{ inputs[1] }}. The last time she'd seen family was on the extensive {{ inputs[2] }} back to campus post-summer break. 
    On the ever-popular social media hub {{ inputs[3] }}, she stumbled upon the {{ inputs[4] }} news that her cousins {{ inputs[5] }} 
    and {{ inputs[6] }} had landed gigs at Disney World! This discovery ignited a dual desire within DDB, to reconnect with family and 
    to dive into the {{ inputs[7] }} of the renowned Magic Kingdom ride, the {{ inputs[8] }}.
</p>
<p>
    Once at Disney World, the sheer array of options, from {{ inputs[9] }} acrobatic shows to the {{ inputs[10] }} wonders of 
    "It's a {{ inputs[11] }} World," left DDB feeling a bit {{ inputs[12] }}. However, her priority was tracking down her cousins. 
    A {{ inputs[13] }} guide pointed her toward the Mickey Mouse {{ inputs[14] }} house, where she happily reunited with her cousins, 
    now going by the playful names {{ inputs[15] }} Duck and {{ inputs[16] }} Duck.
</p>
<p>
    Inspired by their {{ inputs[17] }} flair, DDB toyed with the idea of adopting a unique moniker for herself in the academic setting, 
    perhaps something like "The {{ inputs[18] }} Tech Duck!" Yet, the thought of injecting too much whimsy into the {{ inputs[19] }} 
    atmosphere of CS 50 gave her pause. Nevertheless, the day turned out to be a fantastic blend of {{ inputs[20] }} and family time, 
    easing the homesickness that had lingered.
</p>
<p>
    As the day wound down, DDB bid farewell to her cousins, carrying a mix of emotions, a sense of {{ inputs[21] }} from the day's 
    escapades and a {{ inputs[22] }} reduction in {{ inputs[23] }}. Returning to campus, she reflected on the {{ inputs[24] }} power of 
    family connections and the {{ inputs[25] }} derived from venturing beyond the academic confines.
</p>
    
{% endblock %}