{% extends "layout.html" %}

{% block title %}
    Duck Goes to Disney
{% endblock %}

{% block main %}
<!-- TODO: Fill in text here -->
<h4>Duck Goes to Disney!</h4>
    <p>
        While on campus helping teach CS 50 alongside Professor {{ inputs[0] }} on Harvard's campus, DDB began to feel a bit 
        {{ inputs[1] }}. After all, DDB hadn't seen any of her relatives since flying the {{ inputs[2] }} journey to campus after 
        {{ inputs[3] }}. On the widely used social media site {{ inputs[4] }}, DDB had {{ inputs[5] }} that her cousins {{ inputs[6] }} 
        and {{ inputs[7] }} had {{ inputs[8] }} jobs at Disney World! So, DDB wanted to see her cousins, 
        and also try out the {{ inputs[9] }} ride at Magic Kingdom called the {{ inputs[10] }}. Upon {{ inputs[11] }} at Disney World, 
        DDB couldn't figure out where to begin! After all, there were amazing shows like "The {{ inputs[12] }} acrobats of 
        {{ inputs[13] }}" and different attractions like "It's a {{ inputs[14] }} World." However, DDB wanted to see her cousins before 
        {{ inputs[15] }} anything else. DDB asked one 
        of the many {{ inputs[16] }} {{ inputs[17] }} around Disney World where to find her cousins at. They directed DDB towards 
        the Mickey Mouse {{ inputs[18] }} house. Alongside Mickey and Minnie Mouse, as well as Goofy and Pluto, DDB found her cousins 
        with their stage names {{ inputs[19] }} Duck and {{ inputs[20] }} Duck. This made DDB wonder if she should create her own 
        personal stage name for class, something like "The {{ inputs[21] }} {{ inputs[22] }} Duck!" Or, maybe that would be too 
        {{ inputs[23] }} for CS 50. DDB had such a {{ inputs[24] }} time with her cousins! It was {{ inputs[25] }} to 
        see them after so many {{ inputs[26] }}. After a long day, DDB said {{ inputs[27] }} to her cousins and went back to campus 
        feeling {{ inputs[28] }} and a lot less homesick!

    </p>>
{% endblock %}