{% extends "layout.html" %}

{% block title %}
    Duck Goes to Disney - Complete!
{% endblock %}

{% block main %}
<!-- Print output text -->
<h4>Duck Goes to Disney!</h4>
<p>
    DDB missed her cousins who work at Disney! DDB wanted to {{ inputs[0] }} them, and have a(n) {{ inputs[1] }} time at Disney! Her 
    cousins had {{ inputs[2] }} stage names. DDB came up with her own stage name "{{ inputs[3] }} Duck." After a(n) {{ inputs[4] }} day, 
    DDB said {{ inputs[5] }} and felt {{ inputs[6] }}.
</p>
    
{% endblock %}