{% extends "layout.html" %}

{% block title %}
    Duck Takes a Tour!
{% endblock %}

{% block main %}
    <body>
        <h3>Welcome to QuackLibs!</h3> 
        <div class="spacer-sm"></div>
        <h6>
            We are an educational webpage based on the traditional game MadLibs, which lets you play the game 
            in a reading level that suits you. Select one of the grade options below to begin!
        </h6>
        <div class="spacer-lg"></div>
        <div class="row">
            <div class="col-sm mb-3 mb-sm-0">
                <div class="card">
                    <img src="/static/level1_duck.png" class="card-img-top img-fluid" alt="Duck with Pinwheel">
                    <div class="card-body">
                        <h5 class="card-title">Grade 2 and Below</h5>
                        <p class="card-text">This is the beginner level!</p>
                        <a href="/level1" class="btn btn-primary">Go to Page</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="/static/level2_duck.png" class="card-img-top img-fluid" alt="Duck kicking soccer ball">
                    <div class="card-body">
                        <h5 class="card-title">Grades 3-5</h5>
                        <p class="card-text">Feel like you are a bit more advanced! Try this level out!</p>
                        <a href="/level2" class="btn btn-primary">Go to Page</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="/static/level3_duck.png" class="card-img-top img-fluid" alt="Duck with MP3 player">
                    <div class="card-body">
                        <h5 class="card-title">Grades 6-8</h5>
                        <p class="card-text">The last two were too easy? Challenge yourself here!</p>
                        <a href="/level3" class="btn btn-primary">Go to Page</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="/static/level4_duck.png" class="card-img-top img-fluid" alt="Duck with nose in a book">
                    <div class="card-body">
                        <h5 class="card-title">Grades 9-11</h5>
                        <p class="card-text">Most people don't make it here. If you did, lets see how you do with this one!</p>
                        <a href="/level4" class="btn btn-primary">Go to Page</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="/static/level5_duck.png" class="card-img-top img-fluid" alt="Duck surrounded by mounds of work">
                    <div class="card-body">
                        <h5 class="card-title">Grades 12 and Above</h5>
                        <p class="card-text">If you make it here, you are a QuackLibs Warrior!</p>
                        <a href="/level5" class="btn btn-primary">Go to Page</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
