{% block title %}
    9th-11th Grade
{% endblock %}

{% block main %}
    <p>Thanks for playing QuackLibs! You've selected the 9th-11th grade reading level. Click the button below to start a QuackLib!</p>
<!-- TODO: create an interface that allows user to select which MadLib they want to complete -->
    <script src="{{ url_for('static', filename='random.js') }}"></script>
    <button class="start">Start a QuackLib Now!</button>
    <script>
        random_redirect(["/town4", "/disney4", "/disappearance4"]);
    </script>
{% endblock %}