{% extends "layout.html" %}

{% block title %}
    Below 2nd Grade
{% endblock %}

{% block main %}
    <p>Thanks for playing QuackLibs! You've selected the below 2nd grade reading level. Click the button below to start a QuackLib!</p>
<!-- Create button that randomizes a QuackLib when pressed -->
    <!-- Call random.js -->
    <script src="{{ url_for('static', filename='random.js') }}"></script>
    <button class="start">Start a QuackLib Now!</button>
    <!-- Specify links for the level -->
    <script>
        random_redirect(["/town1", "/disney1", "/disappearance1"]);
    </script>
{% endblock %}
