{% extends "layout.html" %}

{% block title %}
    Level 3
{% endblock %}

{% block main %}
    <p>Thanks for playing QuackLibs! You've selected the 6th-8th grade reading level. Click the button below to start a QuackLib!</p>
<!-- Uses the random function to randomly redirect the user to one of the MadLib forms for that level -->
    <script src="{{ url_for('static', filename='random.js') }}"></script>
    <button class="start">Start a QuackLib Now!</button>
    <script>
        random_redirect(["/town3", "/disney3", "/disappearance3"]);
    </script>
{% endblock %}