{% extends "layout.html" %}

{% block title %}
    Level 2
{% endblock %}

{% block main %}
    <p>Thanks for playing QuackLibs! You've selected the 3rd-5th grade reading level. Click the button below to start a QuackLib!</p>
<!-- Uses the random function to randomly redirect the user to one of the MadLib forms for that level -->
    <script src="{{ url_for('static', filename='random.js') }}"></script>
    <button class="start">Start a QuackLib Now!</button>
    <script>
        random_redirect(["/town2", "/disney2", "/disappearance2"]);
    </script>
{% endblock %}