{% extends "layout.html" %}

{% block title %}
    Duck Takes a Tour - Complete!
{% endblock %}

{% block main %}
<!-- Print Text -->
<h4>Duck Takes a Tour!</h4>
<p>
    Hoping to get away from the {{ inputs[0] }} of everyday duck life, bigger than a {{ inputs[1] }} CS 50 mascot DDB wanted to go 
    to {{ inputs[2] }} for a duck boat tour on the {{ inputs[3] }} river. Maybe DDB could find some duck relatives! DDB and his 
    friend {{ inputs[4] }} packed {{ inputs[5] }}, {{ inputs[6] }}, and {{ inputs[7] }} for the tour. They ran to the boat just in 
    time. On the tour, they saw a cool {{ inputs[6] }} , a big {{ inputs[7] }} , and a famous {{ inputs[8] }}. They also saw many 
    double-billed {{ inputs[9] }} and a rare {{ inputs[10] }} ! DDB and {{ inputs[11] }} were happy. They even saw some duck 
    relatives in the water! The best part was getting a duck whistle at the end that made a big {{ inputs [12] }} sound. 
    What a great day!
</p>
    
{% endblock %}