{% extends "layout.html" %}

{% block title %}
    Duck Takes a Tour - Complete!
{% endblock %}

{% block main %}
<!-- Print Text -->
<h4>Duck Takes a Tour!</h4>
<p>
    Hoping to escape the {{ inputs[0] }} of daily duck life, larger than  {{ inputs[1] }} CS 50 mascot DDB decided to venture into 
    {{ inputs[2] }} for a duck boat tour on the {{ inputs[3] }} River. After all, maybe DDB would run into some distant relatives! 
    Equipped with all the {{ inputs[4] }}, {{ inputs[5] }}, and {{ inputs[6] }} they could need, DDB and her friend headed off to the 
    tour. They {{ inputs[7] }} to the boat just in time for cast off. On the guided duck boat tour, they were able to take in many 
    different sights, such as the historic {{ inputs[8] }}, monumental {{ inputs[9] }}, and even the infamous {{ inputs[10] }}. They 
    were also able to see lots of native wildlife, including the double-billed {{ inputs[11] }}. DDB and {{ inputs[12] }} were thrilled 
    because they even caught a glimpse of the rare {{ inputs[13] }} bird! While DDB ran into a couple of distant relatives on the water, 
    undoubtedly the most {{ inputs[14] }} part of the entire tour was getting a duck whistle at the end that made a great big 
    {{ inputs[15] }} sound. What a great {{ inputs[16] }} day!
</p>
    
{% endblock %}