{% extends "layout.html" %}

{% block title %}
    Duck Takes a Tour - Complete!
{% endblock %}

{% block main %}
<!-- Print Text -->
<h4>Duck Takes a Tour!</h4>
<p>
    Wanting a break from duck life, CS 50 mascot DDB went on a duck boat tour on the {{ inputs[0] }} River. With {{ inputs[1] }} 
    and {{ inputs[2] }} in tow, DDB and his friend  {{ inputs[3] }} to the boat just in time. On the tour, they saw {{ inputs[4]}}, 
    {{ inputs[5] }}, and even {{ inputs[6] }}. They also saw {{ inputs[7] }} ducks. DDB and {{ inputs[8] }} were excited, catching a 
    glimpse of a(n) {{ inputs[9] }} bird! The {{ inputs[10] }} part was getting a duck whistle that made a big {{ inputs[11] }} sound.

</p>
    
{% endblock %}