{% extends "layout.html" %}

{% block title %}
    Duck Takes a Tour - Complete!
{% endblock %}

{% block main %}
<h4>Duck takes a tour!</h4>
<p> 
    Hoping to get away from the {{ inputs[0] }} of everyday duck life, bigger than a {{ inputs[1] }} CS 50 mascot DDB decided to 
    explore {{ inputs[2] }} on a duck boat tour on the {{ inputs[3] }} River. With {{ inputs[4] }} and {{ inputs[5] }} in tow, DDB and 
    his friend {{ inputs[6] }} to the boat just in time for departure. On the tour, they saw {{ inputs[7] }}, {{ inputs[8] }}, and 
    even {{ inputs[9] }}. They also saw {{ inputs[10] }} ducks. DDB and {{ inputs[11] }} were excited as they even caught a glimpse of 
    a(n) {{ inputs[12] }} bird! The {{ inputs[13] }} part was getting a duck whistle at the end that made a big {{ inputs[14] }} sound. 
    They even saw a rare {{ inputs[15] }} and {{ inputs[16] }} at the end of the duck tour! What a(n) {{ inputs[17] }} day!
</p>
{% endblock %}