body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: lightblue;
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', sans-serif;
}

.header {
    background-color: #90ee90; /* Pastel green */
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: black; =
    font-size: 24px;

} 

.navbar {
    color: black; 
    text-decoration: underline; 
    background-color: #90ee90; 
    
} 
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.icon img {
    width: 50px; 
    height: 50px;
}

/* CSS Styles for Footer */
footer {
    text-align: center;
    padding: 5px 0;
    background-color: green;
    color: black;
    flex-shrink: 0;

.back-to-top {
    display: none;
    background-color: green;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.copyright {
    font-size: 10px;
    color: black;

}
